.pokemonpage-title {
    text-align: center;
    margin: 20px 0;
    color: #4a4a4a;
    font-size: 24px;
}

.card {
    margin-bottom: 30px;
    background-color: #e5c8db;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15);
    min-height: 300px;
    /* Adjust the minimum height according to your needs */
}

.card-title {
    color: #4a4a4a;
    font-size: 18px;
}

.card-body {
    padding: 20px;
}

.card-text {
    color: #4a4a4a;
    font-size: 14px;
}

.card-content {
    min-height: 250px;
    /* Adjust the height based on your requirements */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-bottom {
    margin-top: auto;
}

.button-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.button-style {
    font-size: 14px;
    width: 100px;
    background-color: #a3b3ce;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-style:hover {
    background-color: #8e9fb2;
}

.extra-info {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    color: #4a4a4a;
}